.aboveCarrousel{
    padding-top: 120px;
    bottom: -20px;
}
.aboveCarrousel h2{
    font-family: 'Parkinsans';
    font-size: 60px;
}
.aboveCarrousel h1{
    font-family: 'Parkinsans';
    font-size: 70px;
}
.homePageForm{
    width: 90vw;
    bottom: -40px;
}
.homePageForm select{
    height: 50px;
    padding: 0 15px;
    margin-top: 10px;
    border: none;
    box-shadow: none !important;
    background-color: #F0F1F1;
}
.homePageForm button{
    height: 50px;
}
.realStateCardsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    justify-content: center;
    gap: 20px;
}
.highlightPropertyImages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.highlightPropertyImages div{
    border-radius: 8px;
}
.highlightPropertyImages div:first-child{
    grid-row: 1 / span 2;
}
.plansContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
    justify-content: center;
    gap: 70px;
    margin: 100px 0 50px 0;
}
.plansContainer div{
    box-shadow: 1px 0px 40px 10px rgba(77, 71, 71, 0.103);
}