.sellOrRent p{
    font-size: 14px;
}
.sellOrRent p:first-child{
    background-color: #F28C28;
    opacity: 0.7;
    color: #FFFF;
    padding: 2px 16px;
}
.sellOrRent p:last-child{
    color: #3541A9;
}
.cardHeader{
    position: relative;
}
.cardHeader div{
    position: absolute;
    top: 10px;
    right: 10px;
}
.cardText{
    font-size: 14px;
}
.cardFooter button:hover{
    color: white !important;
    background-color: #F28C28 !important;
    border-color: #F28C28 !important;
    outline: none;
    cursor: pointer;
}