:root{
    --text-details-color: #F28C28;
}
.realStateDetails{
    padding: 64px;

    h2{
        font-family: 'Parkinsans';
    }
}
.realStateDetailsContainerCards{
    margin-bottom: 64px;
}
.realStatePrice{
    margin-top: 24px;
}
.realStatePrice p{
    font-size: 20px;
    color: var(--text-details-color) !important;
}
.detailsItem{
    margin-top: 24px;
}
.ownerDescription{
    margin: 24px 0;
}
.ownerDescription h2{
    font-family: 'Inter';
    font-size: 18px;
    margin: 16px 0;
}