:root{
    --text-details-color: #3541A9;
}
.realStateDetails{
    padding: 64px;

    h2{
        font-family: 'Parkinsans';
    }
}
.realStateContainerCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    justify-content: center;
    gap: 20px;
}
.realStatePrice{
    margin-top: 24px;
}
.realStatePrice p{
    font-size: 20px;
    color: var(--text-details-color) !important;
}
.detailsItem{
    margin-top: 24px;
}
.ownerDescription{
    margin: 24px 0;
}
.ownerDescription h2{
    font-family: 'Inter';
    font-size: 18px;
    margin: 16px 0;
}