.favourites{
    font-size: 14px;
    background-color: #F8F9F5;
    padding: 10px 23px;
    gap: 10px;
}
.loginDropdown::after{
    display: none !important;
}
.loginDropdown span{
    font-size: 13px;
    line-height: 0.95rem;
    color: #3541A9;
}