.footer{
    overflow-x: hidden;
}
.footer_up_left p{
    color: #FFFFFF99;
    max-width: 420px;
}
.footerLogo div{
    background-color: white;
    width: 39px;
    height: 39px;
}
.footerLogo h2{
    font-family: 'Parkinsans' !important;
}
.ulFooter li:first-child{
    margin-top: 5px;
}
.ulFooter li a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

@media (max-width: 767.98px){
    .footer{
        padding: 40px 20px;
    }

    .footer_up_left p{
        max-width: 100%;
    }
}
