.card{
    border: 1px solid #ECECF2 !important;
    border-radius: 8px !important;
    padding: 20px !important;
}
.cardHeader{
    background-color: white !important;
}
.cardHeader div{
    height: 52px;
    width: 52px;
    background-color: #F28C28;
}
.cardText{
    text-align: justify;
}