:root{
    --carrousel-slide-radio-button-color: #3541A9;
    --text-base-color: #3541A9;
    --bg-default-color: #3541A9;
}
.root{
    isolation: isolate;
}
.text-default-color{
    color: var(--text-base-color) !important;
}
.bg-default-color{
    background-color: var(--bg-default-color) !important;
}
.outline-none{
    outline: none !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
.transparent-modal {
    background-color: transparent !important;
    box-shadow: none !important; /* remove sombra padrão */
}
.homePage-main{
    margin-top: 100px;
}
.radix-themes:where([data-is-root-theme='true']) {
  min-height: 1dvh !important;
}
.rt-BaseTabList{
    border: none !important;
}
.rt-TabsTrigger{
    width: 160px !important;
    font-weight: 400 !important;
}
.rt-TabsTrigger:hover{
    color: #808080;
}
.rt-TabsTrigger:where([data-state='active']){
    color: var(--text-base-color) !important;
}
.carousel-item img{
    width: 100%;
    height: calc(75vh - 80px);
    object-fit: cover;
}
.home-carrousel .carousel-indicators{
    display: none;
    /* 
     ... Se quiser que apareça os indicators ...
        left: inherit !important;
        right: -210px !important;
    */
}
.carousel-indicators{
    display: flex;
    align-items: end;
}
.carousel-indicators button{
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
}
.carousel-indicators .active{
    width: 56px !important;
    height: 8px !important;
    border-top: none !important;
    border-bottom: none !important;
    border-radius: 8px !important;
    align-self: center;
    background-color: var(--carrousel-slide-radio-button-color) !important;
}
.home-carrousel .carousel-control-next-icon, .home-carrousel .carousel-control-prev-icon{
    display: none;
}
.details-carrousel .carousel-control-next-icon, .details-carrousel .carousel-control-prev-icon{
    filter: invert(1);
    width: 20px !important;
    height: 20px !important;
}
.details-carrousel .carousel-control-next, .details-carrousel .carousel-control-prev{
    background-color: white !important;
    opacity: 1 !important;
    border-radius: 10px;
    height: 40px;
    width: 40px !important;
    align-self: center;
    margin: 0 30px;
}
.modal-content{
    padding: 32px;
}
.flag-dropdown{
    border: 1px solid #ECECF2 !important;
    border-right: 0 !important;
    background-color: white !important;
}
.phoneInput{
    height: 40px !important;
    border: 1px solid #ECECF2 !important;
    border-radius: 8px;
    padding: 10px 10px 10px 40px !important;
    box-shadow: none !important;
    font-size: 14px !important;
    font-family: 'Inter';
}
.p-calendar{
    width: 100% !important;
}
.p-datepicker::-webkit-scrollbar {
  width: 6px;
}

.p-datepicker::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

.p-datepicker::-webkit-scrollbar-thumb {
  background: #e1dddd;
  border-radius: 10px;
}
